@model EF.Domain.Locacao
@{
    ViewData["Title"] = "Editar Locação";
}


<div class="row">
    <div>
        <h1 class="text-center">Editar Genero</h1>
    </div>

    <div class="col-md-8 col-md-offset-2">

        @using (Html.BeginForm("Add", "Locacao", FormMethod.Post))
        {
            @Html.TextBoxFor(b => b.Id, new { @class = "form-control", placeholder = "Informe o nome do filme.", @type = "hidden" })
            <div class="form-group">
                <label>Nome</label>
                @Html.TextBoxFor(b => b.CPF, new { @class = "form-control", placeholder = "Informe o nome do filme." })
            </div>

            @if ((ViewBag.Message as string).Length > 0 || ViewBag.AlertColor != null)
            {
                <div class="alert @ViewBag.AlertColor" role="alert">
                    @ViewBag.Message
                    }
                </div>

            }


            <div class="col-md-6">
                <button type="submit" class="btn btn-primary btn-lg btn-block">Editar</button>
            </div>
            <div class="col-md-6">
                @Html.ActionLink("Voltar", "Index", "Filmes", "", new { @class = "btn btn-default btn-lg btn-block" })
            </div>

        }
    </div>
</div>

