@model EF.Domain.Filme
@{
    ViewData["Title"] = "Index";
}

<div>

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#Filmes" aria-controls="home" role="tab" data-toggle="tab">Filmes</a></li>
        <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Profile</a></li>
        <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Messages</a></li>
        <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Settings</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="Filmes">
            <br />
            <div>
                @Html.ActionLink("Cadastrar Filme", "Add", "Filmes", new object { }, new { @class = "btn btn-primary btn-sm" })
                <button type="button" class="btn btn-primary btn-sm">Deletar Selecionados</button>
            </div>
            <hr>
            <div class="table-responsive">
                <!--INICIO TABELA DE FILMES-->
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>@Html.DisplayNameFor(n => n.Id)</th>
                            <th>Nome</th>
                            <th>Data Cadastro</th>
                            <th>Genero</th>
                            <th>Inativo</th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in new FilmeModel().FindAllFilmes())
                        {
                            <tr>
                                <td>
                                    <input type="checkbox" id="@Html.DisplayFor(i => item.Id)" name="ChkSelect">
                                </td>
                                <td>@Html.DisplayFor(i => item.Id)</td>
                                <td>@Html.DisplayFor(i => item.Nome)</td>
                                <td>@Html.DisplayFor(i => item.DataCriacao)</td>
                                <td>@Html.DisplayFor(i => item.Genero.Nome)</td>
                                <td>@Html.DisplayFor(i => item.Ativo)</td>
                                <td>
                                    <a href= "/Filmes/Edit/@Html.DisplayFor(i => item.Id)" type="button" class="btn btn-primary btn-xs" data-toggle="tooltip" title="Editar!">
                                        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                                    </a>
                                    <a href= "/Filmes/Delete/@Html.DisplayFor(i => item.Id)" type="button" class="btn btn-danger btn-xs" data-toggle="tooltip" title="Deletar!">
                                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <!--FIM TABELA DE FILMES-->
            </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="profile">...</div>
        <div role="tabpanel" class="tab-pane" id="messages">...</div>
        <div role="tabpanel" class="tab-pane" id="settings">...</div>
    </div>

</div>